# Environment Variables
VITE_SUPABASE_URL=https://supabase.com/dashboard/project/gvlrcaxxoawzqtcsgftu
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd2bHJjYXh4b2F3enF0Y3NnZnR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY3MTE1NDYsImV4cCI6MjA4MjI4NzU0Nn0.DOPI7qdN4IRwFhX1B7VbuU_pZqojtYJBjeWWp_D0aY4
